{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "eslint-plugin-import", "prettier"],
    "extends": ["airbnb", "airbnb-typescript"],
    "parserOptions": {
        "project": ["./tsconfig.json"]
    },
    "rules": {
        "import/prefer-default-export": "off",
        "object-curly-spacing": "off",
        "@typescript-eslint/object-curly-spacing": "off",
        "react/function-component-definition": "off",
        "@typescript-eslint/indent": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "arrow-parens": "off",
        "implicit-arrow-linebreak": "off",
        "jsx-a11y/label-has-associated-control": "off",
        "function-paren-newline": "off",
        "no-plusplus": "off",
        "no-param-reassign": "off",
        "no-confusing-arrow": "off",
        "object-curly-newline": "off",
        "jsx-a11y/control-has-associated-label": "off",
        "react/jsx-one-expression-per-line": "off",
        "react/require-default-props": "off"
    }
}
