@import "../fonts.css";

* {
    box-sizing: border-box;
    outline: none;
}

.app {
    display: flex;
    flex-direction: column;
    max-width: 924px;
    margin: 80px auto 20px auto;
}

.title {
    margin-bottom: 42px;

    font: $heading;
}
