.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 48px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 172px;
    height: 172px;
    padding: 20px;

    border-radius: 16px;
}

.card-type-Total {
    background: #ffffff;
    border: 1px solid #e5e5e5;
}

.card-type-Pending {
    background: #faf2d4;
}

.card-type-Approved {
    background: #e4f1f6;
}

.card-type-Funded {
    background: #dcf1e5;
}

.card-type-Closed {
    background: #f5f5f5;
}

.card-type,
.card-balance-count {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.card-balance-count {
    text-align: right;
}

.card-balance-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.card-balance-container {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 8px;
}
