@import "../colors.css";
@import "../fonts.css";

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 48px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 172px;
    height: 172px;
    padding: 20px;

    border-radius: 16px;
}

.card-type-Total {
    background: $white;
    border: 1px solid $gray;
}

.card-type-Pending {
    background: $yellow;
}

.card-type-Approved {
    background: $blue;
}

.card-type-Funded {
    background: $green;
}

.card-type-Closed {
    background: $lightGray;
}

.card-type,
.card-balance-count {
    font: $regularBold;
}

.card-balance-count {
    text-align: right;
}

.card-balance-title {
    font: $small;
}

.card-balance-container {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 8px;
}

