@import "../colors.css";
@import "../fonts.css";

.account-table {
    border-collapse: collapse;
    border-spacing: 10px;
}

.account-table-heading,
.account-table-cell {
    font: $regular;
}

.account-table-row {
    height: 100px;
}

.account-table-heading {
    text-align: left;
    padding: 16px 12px;

    background: $white;
    color: $darkGray;
    border-bottom: 1px solid $gray;
}

.account-table-cell {
    max-width: 100%;
    min-width: 280px;
    padding: 24px 10px;
    border-bottom: 1px solid $gray;

    vertical-align: middle;
    color: $black;
}

.account-table-heading .account-table-filter {
    cursor: pointer;
    border: 0;
    color: $darkGray;
}

.balance-cell,
.balance-heading {
    text-align: right;
}

.balance-heading-container {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.table-status-block {
    display: flex;
    justify-content: space-between;
    width: 280px;
    gap: 28px;
}

.change-button {
    color: $white;
}

.change-button:hover {
    opacity: 0.8;
}

.table-status-container {
    height: 40px;
    padding: 8px 16px;

    border-radius: 20px;
}

.table-status-container-Pending {
    background: $yellow;
}

.table-status-container-Approved {
    background: $blue;
}

.table-status-container-Funded {
    background: $green;
}

.table-status-container-Closed {
    background: $lightGray;
}

.sort-icon-desc {
    transform: rotateX(180deg);
}

.funded-account-tip {
    font: $small;
    color: $darkGray;
    text-align: end;
}
