table {
    border-collapse: collapse;
    border-spacing: 10px;
}

th {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    text-align: left;
    padding: 16px 12px;

    background: #ffffff;
    color: #878787;
    border-bottom: 1px solid #f5f5f5;
}

td {
    max-width: 100%;
    min-width: 100px;
    padding: 24px 10px;
    border-bottom: 1px solid #f5f5f5;

    vertical-align: middle;
    color: #333333;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

th select {
    border: 0;
    color: #878787;
}

.balance-cell,
.balance-heading {
    text-align: right;
}

.table-status-block {
    display: flex;
    justify-content: flex-start;
    gap: 28px;
}

.table-status-block > button {
    visibility: hidden;
}

.table-status-block:hover > button {
    visibility: visible;
}

.table-status-container {
    height: 40px;
    padding: 8px 16px;

    border-radius: 20px;
}

.table-status-container-Pending {
    background: #faf2d4;
}

.table-status-container-Approved {
    background: #e4f1f6;
}

.table-status-container-Funded {
    background: #dcf1e5;
}

.table-status-container-Closed {
    background: #f5f5f5;
}

.change-button {
    padding: 12px 16px;
    gap: 8px;
    width: 100px;
    height: 48px;
    background: #212121;
    color: #ffffff;
    border-radius: 8px;
    border: 0;
}
