@import "../colors.css";
@import "../fonts.css";

table {
    border-collapse: collapse;
    border-spacing: 10px;
}

th,
td {
    font: $regular;
}

tr {
    height: 100px;
}

th {
    text-align: left;
    padding: 16px 12px;

    background: $white;
    color: $darkGray;
    border-bottom: 1px solid $gray;
}

td {
    max-width: 100%;
    min-width: 280px;
    padding: 24px 10px;
    border-bottom: 1px solid $gray;

    vertical-align: middle;
    color: $black;
}

th select {
    border: 0;
    color: $darkGray;
}

.balance-cell,
.balance-heading {
    text-align: right;
}

.balance-heading-container {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.table-status-block {
    display: flex;
    justify-content: space-between;
    width: 280px;
    gap: 28px;
}

.change-button {
    /* visibility: hidden; */
    color: $white;
}

.change-button:hover {
    opacity: 0.8;
}

/* .table-status-block > .change-button {
    visibility: hidden;
} */

/* tr:hover .change-button {
    visibility: visible;
} */

.table-status-container {
    height: 40px;
    padding: 8px 16px;

    border-radius: 20px;
}

.table-status-container-Pending {
    background: $yellow;
}

.table-status-container-Approved {
    background: $blue;
}

.table-status-container-Funded {
    background: $green;
}

.table-status-container-Closed {
    background: $lightGray;
}
